#Virtual Environment
venv/

#flask
instance/*
!instance/.gitignore
.webassets-cache

# flask.python stack
# byte-comiled / optimized / DLL files
*$py.class
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
